/* Varialbles */
:root{

}

/* Base Reset */
*{
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
  text-decoration: none;
}

.navbar{
  position: fixed;
  width: 100%;
  background: white;
}

.nav-list{
  display:flex;
  float: right;
  list-style: none;
  font-size: 3rem;
}

.navlink{
  margin: .5rem 1rem;
}

.navlink>a{
  color: black;
}

.landing-header{
  height: 80vh;
  color: white;
  font-size: 3rem;
}


.banner-image{
  background-image: url(images/banner.jpg);
  background-position: center;
  height: inherit;
  width: 100%;
  filter: brightness(50%);
  position: absolute;
  z-index: -9999;
}



/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}